@import "tailwindcss";

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.ck.ck-button.ck-off.ck-file-dialog-button {
  display: none !important;
}

.prose figure.media {
  margin: 1rem 0;
}

.prose figure.media oembed {
  display: block;
  width: 100%;
}

.prose ol {
  list-style: decimal inside;
  margin-left: 1rem;
}

.prose p {
  margin: 0.5rem 0;
}
